!!! Strict
%html
  %head
    %link{:rel=>"stylesheet", :href=>"/stylesheets/application.css", :type=>"text/css"}
  %body
    %h2 Gopml - Coming soon
    %p
      Gopml is a web service to provide useful lists of rss feeds from government
      sources. It is very much under development and will continue to be revised
      on a daily basis. That said, you can try using it today, knowing that your 
      mileage will vary, etc.