!!! Strict
%html
  %head
    %link{:rel=>"stylesheet", :href=>"/stylesheets/application.css", :type=>"text/css"}
  %body
    %h2 Gopml - Congressional information
    %p
      Is available by state
        %blockquote
          %code
            http://gopml.blogbridge.com/congress/state
      And also by party
        %blockquote
          %code
            http://gopml.blogbridge.com/congress/party

      