!!! Strict
%html
  %head
    %link{:rel=>"stylesheet", :href=>"/stylesheets/application.css", :type=>"text/css"}
  %body
    %h2 Gopml - Overview
    %ul
      %li
        Name: GovOpml
      %li
        Provided by: BlogBridge
      %li
        Version 0.0.1
    %p
      Gopml is a web service to provide useful lists of rss feeds from government
      sources. It is very much under development and will continue to be revised
      on a daily basis. That said, you can try using it today, knowing that your 
      mileage will vary, etc.
    %p
      Purpose: Gopml is used together with your favorite Blog reader/aggregator. It
      gives you a one stop shop for a constantly updated list of all the blogs that
      meet your criteria, for example, all the blogs of the congress people from
      Massachusetts.
    %p
      Usage: Wherever your blog reader or aggregator accepts a subscription list in
      OPML format, enter a Gopml url and magically (after a brief delay) you will
      be given a list (dynamic) of the blogs that are available.
    %p
      Here's what the url might look like.
      %p
        %blockquote
          %code
            http://gopml.blogbridge.com/congress/state/ma
      
      

        
          