!!! Strict
%html
  %head
    %link{:rel=>"stylesheet", :href=>"/stylesheets/application.css", :type=>"text/css"}
  %body
    %h2 Gopml - State by state
    %p
      %p
        Form a URL that looks like this to see the list of congress people from that state and their
        blogs. 
        %blockquote
          %code
            http://gopml.blogbridge.com/congress/state/ma
        
        Here's what the url might look like to return an OPML of all the congress people in ma
        %blockquote
          %code
            http://gopml.blogbridge.com/congress/state/ma.opml
      
